<template name="itemNew">
  <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right"><i class="mdi-navigation-arrow-back"></i></a>

  <div class="row">
	<div class="col s12">
	  <ul class="tabs">
	    <li  class="tab col s3"><a id="listTab" href="#list">List</a></li>
	    <li  class="tab col s3"><a id="newTab" href="#new">New Item</a></li>
	  </ul>
	</div>
	<div id="new" class="col s12">
		  <h1>New Item</h1>
		  <div class="card-panel">
		    {{> quickForm collection="items" id="items-new-form" type="insert"}}
		  </div>
	</div>
	
	<div id="list" class="col s12">
		<ul class="collapsible popout" data-collapsible="accordion">
			{{# each items}}		
			    <li>
			      <div class="collapsible-header ">
		      	      <div>
				      	<span class="title">{{name}}</span>
		      	      </div>
		      	      <div class="content">
		      	    	  <p>{{description}} <br>
					      </p>
					      <p>{{pricing}} <br>
					      </p>
					      <p>{{owner}}</p>
		      	      </div>
				  
			      </div>
				  <a class="waves-effect waves-light delete btn"><i class="material-icons left">close</i>Eliminar</a>
			  	  <div class="collapsible-body">
			  	  	  {{> quickForm collection="items" id="items-update" doc=current type="update"}}
			  	  </div>
			    </li>
			{{/each}}
		 </ul>
	</div>
  </div>
</template>
<template name="updateForm">
	
</template>