<template name="messageNew">
	
	  <div id="modal" class="bottom-sheet">

      <div class="content">
           <div class="row">
        <div>Mensaje para {{submiter}}</div>             
   
    <form class="col s12">
    

      <div class="input-field col s12">
          <textarea id="textarea" class="materialize-textarea"></textarea>
          <label for="mensaje">Textarea</label>
      </div>
    
    </form>
   
   </div>
      </div>
      <div class="footer">
        <a class=" action waves-effect waves-green btn-flat">Enviar</a>
      </div>
    </div>
</template>