<template name = "search">
	<div class="row">
		<div class="col s8">
			{{> searchBar }}		
		</div>

		 <div class="input-field col s4">
		    <select>
		      <option value="" disabled selected>Elija la opción</option>
		      <option value="1">Alimentos</option>
		      <option value="2">Bebidas</option>
		      <option value="3">Dulces</option>
		    </select>
		    <label>Cateogria</label>
		  </div>

	</div>
	{{# each result}}
		   <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">{{name}}</span>
            </div>
            <div class="card-action">
              <p>{{description}}</p>
            </div>
          </div>
        </div>
      </div>
	{{/each}}

</template>