<template name="searchBar">
<nav>
    <div class="row nav-wrapper">
      <form class="col s10">
        <div class="input-field">
          <input class="form-control typeahead" id="search" type="search" autocomplete="off" spellcheck="off" data-source="items" required />
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
      <a class="col s2 waves-effect waves-light btn-large" id="search-btn">Buscar</a>
    </div>
  </nav>

  <style type="text/css">
  		
  		a.btn-large {
  			height: 100%;
  		}

  </style>

</template>